{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {{campus.acronym}}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'campuses/css/campuses.css' %}" />
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'campuses:index' %}">{% trans "Câmpus" %}</a></li>
    <li class="active">{{campus.acronym}}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">

      <header class="page-header">
        <h1 class="page-title">{{campus.name}}</h1>
      </header>

      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <b><a href="{% url 'campuses:campus_info' campus.url_param %}" class="btn btn-primary">{% trans "Informações do Campus" %}</a></b>

          {% if perms.users.manager_buildings %}
            <b><a href="{% url 'buildings:new_building' campus.url_param%}" class="btn btn-success">{% trans "Cadastrar Edifício" %}</a></b>

            {% if inactive_buildings %}
              <b><a href="{% url 'campuses:inactive_buildings' campus.url_param%}" class="btn btn-info">{% trans "Edifícios Desativados" %}</a></b>
            {% endif %}
          {% endif %}
        </div>
        <hr>

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Lista de Edifícios" %}</h3>
            <hr>
            {% if buildings %}
              <table id="centered_table" class="table table-bordered">
                <thead>
                  <tr>
                    <th>{% trans "Nome" %}</th>
                    <th>{% trans "Transdutores Funcionando" %}</th>
                    <th>{% trans "Transdutores Defeituosos" %}</th>
                  </tr>
                </thead>

                <tbody>
                  {% for building in buildings %}
                    <tr>
                      <td><a href="{% url 'buildings:index' building.id %}">{{building.name}}</a></td>

                      <td>{{building.get_all_working_transductors.count}}</td>

                      {% if building.get_all_broken_transductors %}
                        <td><a id="a_broken_transductor" href="{% url 'buildings:building_broken_transductors' building.id %}">{{building.get_all_broken_transductors.count}}</a></td>
                        </td>
                      {% else %}
                      <td>0</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% else %}
              <div class="container">
                <div class="starter-template">
                  <h2>{% trans "Nenhum Edifício Registrado" %}</h2>
                </div>
              </div>
            {% endif %}
          </div> <!-- end div panel- -->
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
