{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {{campus.acronym}} - {% trans "Informações" %}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'campuses:index' %}">{% trans "Câmpus" %}</a></li>
    <li><a href="{% url 'campuses:campus_index' campus.url_param %}">{{campus.acronym}}</a></li>
    <li class="active">{% trans "Informações do Campus" %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">

      <header class="page-header">
        <h1 class="page-title">{{campus.name}}</h1>
      </header>

      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Informações" %}</h3>
            <hr>

            <div class="top-margin">
              <label>{% trans "Região Administrativa" %}:</label>
              <p>{{campus.administrative_region.name}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Nome" %}:</label>
              <p>{{campus.name}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Sigla" %}:</label>
              <p>{{campus.acronym}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Endereço" %}:</label>
              <p>{{campus.address}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Telefone" %}:</label>
              <p>{{campus.phone}}</p>
            </div>
          </div> <!-- end div panel- -->
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
